.centerXY{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}
.grid{
    display:-ms-grid;
    display:grid;
    -ms-grid-rows:30vh 14vh 14vh 14vh 14vh 14vh 0vh;
    -ms-grid-columns:25vw 25vw 25vw 25vw 0vw;
    grid-template:
    "1_1   1_2   1_3   1_4   1_5" 30vh
    "2_1   2_2   2_3   2_4   2_5" 14vh
    "3_1   3_2   3_3   3_4   3_5" 14vh
    "4_1   4_2   4_3   4_4   4_5" 14vh
    "5_1   5_2   5_3   5_4   5_5" 14vh
    "6_1   6_2   6_3   6_4   6_5" 14vh
    "7_1   7_2   7_3   7_4   7_5" 0vh /
    25vw   25vw   25vw   25vw   0vw;
}
.cell-1_1-1_5{
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-row: 1;
    grid-column: 1;
    grid-area: 1_1   1_2   1_3   1_4   1_5;
    height: 30vh;
    width:  100vw;
    background-color: fuchsia;
}
.cell-2_1-2_5{
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-row: 2;
    grid-column: 1;
    grid-area: 2_1   2_2   2_3   2_4   2_5;
    height: 14vh;
    width:  100vw;
    background-color: cyan;
}
.cell-1_1{
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-row: 1;
    grid-column: 1;
    grid-area: 1_1;
    height: 30vh;
    width:  25vw;
}
.cell-1_2{
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-row: 1;
    grid-column: 2;
    grid-area: 1_2;
    height: 30vh;
    width:  25vw;
}
.cell-1_3{
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-row: 1;
    grid-column: 3;
    grid-area: 1_3;
    height: 30vh;
    width:  25vw;
}
.cell-1_4{
    -ms-grid-row: 1;
    -ms-grid-column: 4;
    grid-row: 1;
    grid-column: 4;
    grid-area: 1_4;
    height: 30vh;
    width:  25vw;
}
.cell-1_5{
    -ms-grid-row: 1;
    -ms-grid-column: 5;
    grid-row: 1;
    grid-column: 5;
    grid-area: 1_5;
    height: 30vh;
    width:  0vw;
}
.cell-2_1{
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-row: 2;
    grid-column: 1;
    grid-area: 2_1;
    height: 14vh;
    width:  25vw;
}
.cell-2_2{
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-row: 2;
    grid-column: 2;
    grid-area: 2_2;
    height: 14vh;
    width:  25vw;
}
.cell-2_3{
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-row: 2;
    grid-column: 3;
    grid-area: 2_3;
    height: 14vh;
    width:  25vw;
}
.cell-2_4{
    -ms-grid-row: 2;
    -ms-grid-column: 4;
    grid-row: 2;
    grid-column: 4;
    grid-area: 2_4;
    height: 14vh;
    width:  25vw;
}
.cell-2_5{
    -ms-grid-row: 2;
    -ms-grid-column: 5;
    grid-row: 2;
    grid-column: 5;
    grid-area: 2_5;
    height: 14vh;
    width:  0vw;
}
.cell-3_1{
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-row: 3;
    grid-column: 1;
    grid-area: 3_1;
    height: 14vh;
    width:  25vw;
}
.cell-3_2{
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-row: 3;
    grid-column: 2;
    grid-area: 3_2;
    height: 14vh;
    width:  25vw;
}
.cell-3_3{
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    grid-row: 3;
    grid-column: 3;
    grid-area: 3_3;
    height: 14vh;
    width:  25vw;
}
.cell-3_4{
    -ms-grid-row: 3;
    -ms-grid-column: 4;
    grid-row: 3;
    grid-column: 4;
    grid-area: 3_4;
    height: 14vh;
    width:  25vw;
}
.cell-3_5{
    -ms-grid-row: 3;
    -ms-grid-column: 5;
    grid-row: 3;
    grid-column: 5;
    grid-area: 3_5;
    height: 14vh;
    width:  0vw;
}
.cell-4_1{
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-row: 4;
    grid-column: 1;
    grid-area: 4_1;
    height: 14vh;
    width:  25vw;
}
.cell-4_2{
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    grid-row: 4;
    grid-column: 2;
    grid-area: 4_2;
    height: 14vh;
    width:  25vw;
}
.cell-4_3{
    -ms-grid-row: 4;
    -ms-grid-column: 3;
    grid-row: 4;
    grid-column: 3;
    grid-area: 4_3;
    height: 14vh;
    width:  25vw;
}
.cell-4_4{
    -ms-grid-row: 4;
    -ms-grid-column: 4;
    grid-row: 4;
    grid-column: 4;
    grid-area: 4_4;
    height: 14vh;
    width:  25vw;
}
.cell-4_5{
    -ms-grid-row: 4;
    -ms-grid-column: 5;
    grid-row: 4;
    grid-column: 5;
    grid-area: 4_5;
    height: 14vh;
    width:  0vw;
}
.cell-5_1{
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-row: 5;
    grid-column: 1;
    grid-area: 5_1;
    height: 14vh;
    width:  25vw;
}
.cell-5_2{
    -ms-grid-row: 5;
    -ms-grid-column: 2;
    grid-row: 5;
    grid-column: 2;
    grid-area: 5_2;
    height: 14vh;
    width:  25vw;
}
.cell-5_3{
    -ms-grid-row: 5;
    -ms-grid-column: 3;
    grid-row: 5;
    grid-column: 3;
    grid-area: 5_3;
    height: 14vh;
    width:  25vw;
}
.cell-5_4{
    -ms-grid-row: 5;
    -ms-grid-column: 4;
    grid-row: 5;
    grid-column: 4;
    grid-area: 5_4;
    height: 14vh;
    width:  25vw;
}
.cell-5_5{
    -ms-grid-row: 5;
    -ms-grid-column: 5;
    grid-row: 5;
    grid-column: 5;
    grid-area: 5_5;
    height: 14vh;
    width:  0vw;
}
.cell-6_1{
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    grid-row: 6;
    grid-column: 1;
    grid-area: 6_1;
    height: 14vh;
    width:  25vw;
}
.cell-6_2{
    -ms-grid-row: 6;
    -ms-grid-column: 2;
    grid-row: 6;
    grid-column: 2;
    grid-area: 6_2;
    height: 14vh;
    width:  25vw;
}
.cell-6_3{
    -ms-grid-row: 6;
    -ms-grid-column: 3;
    grid-row: 6;
    grid-column: 3;
    grid-area: 6_3;
    height: 14vh;
    width:  25vw;
}
.cell-6_4{
    -ms-grid-row: 6;
    -ms-grid-column: 4;
    grid-row: 6;
    grid-column: 4;
    grid-area: 6_4;
    height: 14vh;
    width:  25vw;
}
.cell-6_5{
    -ms-grid-row: 6;
    -ms-grid-column: 5;
    grid-row: 6;
    grid-column: 5;
    grid-area: 6_5;
    height: 14vh;
    width:  0vw;
}
.cell-7_1{
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    grid-row: 7;
    grid-column: 1;
    grid-area: 7_1;
    height: 0vh;
    width:  25vw;
}
.cell-7_2{
    -ms-grid-row: 7;
    -ms-grid-column: 2;
    grid-row: 7;
    grid-column: 2;
    grid-area: 7_2;
    height: 0vh;
    width:  25vw;
}
.cell-7_3{
    -ms-grid-row: 7;
    -ms-grid-column: 3;
    grid-row: 7;
    grid-column: 3;
    grid-area: 7_3;
    height: 0vh;
    width:  25vw;
}
.cell-7_4{
    -ms-grid-row: 7;
    -ms-grid-column: 4;
    grid-row: 7;
    grid-column: 4;
    grid-area: 7_4;
    height: 0vh;
    width:  25vw;
}
.cell-7_5{
    -ms-grid-row: 7;
    -ms-grid-column: 5;
    grid-row: 7;
    grid-column: 5;
    grid-area: 7_5;
    height: 0vh;
    width:  0vw;
}
.timeBar {
    display: flex;
}
.timeCell {
    flex-grow: 1;
}