.neumorphic {
    box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.2),
      -12px -12px 24px 0 rgba(255, 255, 255, 0.5);
    font-size: 5rem;
    border-radius: 10px;
    overflow: hidden;
    padding: 1.3rem;
    display: flex;
}
.neumorphic--pressed {
    box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2), inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
}
.variation2 {
    justify-content: space-around;
    align-items: center;
}
.variation2.pressed {
    color: #5ab9ea;
}

:root {
    --card-margin:5vw;
    --card-width:70vw;
    --golden-ratio:1.6180;
    --card-height:calc(var(--card-width) * var(--golden-ratio));
    --card-corner:10px;
    --cardImage-margin:3vw;
    --cardImage-width:calc(var(--card-width) - var(--cardImage-margin) * 2);
    --cardDescription-height:calc(var(--card-height) - var(--card-width));
}
html{
    margin:0;
    height:100%;
    overflow:hidden;
}
body{
    margin:0;
    padding:0;
    height:100%;
    overflow:hidden;
    background-color: silver;
    position:relative;
    height:100vh;
}
.venueBar{
    padding-top:5vh;
    height:10vh;
    background-color:darkgray;
    width:100%;
    z-index:3;
    box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),-8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;

    display:flex;
    flex-direction:row;
    position:absolute;

    /* vertically center the event slider */
    align-items:center;
}
.venueLogo{
    width:3vh;
    height:3vh;
    bottom:1.5vh;
    left:1.5vh;
    position:absolute;
    background-image: url("images/japanese_stamp.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
.venueName{
    left:13vh;
    bottom:4vh;
    position:absolute;
    font-size:6vw;
}
@font-face {
	font-family:gothamRoundedMedium;
	src: url("fonts/nunito/Nunito-Regular.ttf");
}

span{
	font-family:gothamRoundedMedium;
	color:rgb(206, 206, 206);
    text-shadow:
    -6px -6px 8px rgba(216, 216, 216, 0.582),
    6px 6px 8px rgba(0,0,0,0.2);
    caret-color:#262626;
}

/*
The horizontal plane and its children.
*/
.horizontalContainer {
    z-index:0;
    width:100%;
    height:100%;
    display:flex;
    position:absolute;
    /* vertically center the event slider */
    align-items:center;
}
.eventSlider {
    width:100%;
    height:var(--card-height);
    display:flex;
    flex-direction:row;
    position:relative;
}
.card{
    width:var(--card-width);
    height:var(--card-height);
    position:absolute;
    border-radius: var(--card-corner);

    background: silver;
    box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
     -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    border-radius: var(--card-corner);
}
.cardImage{
    position:relative;
    left:var(--cardImage-margin);
    top:var(--cardImage-margin);
    width:var(--cardImage-width);
    height:var(--cardImage-width);
    object-fit: cover;
}
.cardDescription{
    position:relative;
    left:var(--cardImage-margin);
    top:calc(var(--cardImage-margin) * 2);
    height:calc(var(--cardDescription-height) - var(--cardImage-margin));
    width:var(--cardImage-width);
    background-color: green;
}
.leftCard{
    margin-right:var(--card-margin);
    left:calc(((100vw - var(--card-width)) / 2) - var(--card-width) - var(--card-margin));
}
.preLeftCard{
    margin-right:var(--card-margin);
    left:calc(((100vw - var(--card-width)) / 2) - var(--card-width) - var(--card-margin) - var(--card-width) - var(--card-margin));
}
.horizontalMiddleCard{
    left:calc((100vw - var(--card-width)) / 2);
}
.rightCard{
    margin-left:var(--card-margin);
    left:calc(100vw - ((100vw - var(--card-width)) / 2));
}
.postRightCard{
    margin-left:var(--card-margin);
    left:calc((100vw - ((100vw - var(--card-width)) / 2)) + var(--card-width) + var(--card-margin));
}

/*
The vertical plane and its children.
*/
.verticalContainer {
    z-index:1;
    width:100%;
    height:100%;
    display:flex;
    position:absolute;
    /* horizontally center the event slider */
    justify-content:center;
}
.venueSlider {
    width:var(--card-width);
    height:100%;
    display:flex;
    flex-direction:column;
    position:relative;
}
.preTopCard{
    margin-bottom:var(--card-margin);
    top:calc(((100vh - var(--card-height)) / 2) - var(--card-height) - var(--card-margin) - var(--card-height) - var(--card-margin));
}
.topCard{
    margin-bottom:var(--card-margin);
    top:calc(((100vh - var(--card-height)) / 2) - var(--card-height) - var(--card-margin));
}
.verticalMiddleCard{
    top:calc((100vh - var(--card-height)) / 2);
    /* visibility:hidden; */
}
.postBottomCard{
    margin-top:var(--card-margin);
    top:calc(((100vh - var(--card-height)) / 2) + var(--card-height) + var(--card-height) + var(--card-margin));
}
.bottomCard{
    margin-top:var(--card-margin);
    top:calc(((100vh - var(--card-height)) / 2) + var(--card-height));
}
.cardDescription{
    text-align: right;
}