:root {
    --card-margin:5vw;
    --card-width:70vw;
    --golden-ratio:1.618;
    --card-height:calc(var(--card-width) * var(--golden-ratio));
}
html{
    margin:0;
    height:100%;
    overflow:hidden;
}
body{
    margin:0;
    padding:0;
    height:100%;
    overflow:hidden;
    position:relative;
    background-color:black;
}

/*
The horizontal plane and its children.
*/
.horizontalContainer {
    z-index:0;
    width:100%;
    height:100%;
    display:flex;
    position:absolute;
    /* vertically center the event slider */
    align-items:center;
}
.eventSlider {
    width:100%;
    height:var(--card-height);
    display:flex;
    flex-direction:row;
    position:relative;
}
.card{
    width:var(--card-width);
    height:var(--card-height);
    position:absolute;
    background-color:white;
}
.leftCard{
    margin-right:var(--card-margin);
    left:calc(((100vw - var(--card-width)) / 2) - var(--card-width) - var(--card-margin));
}
.horizontalMiddleCard{
    left:calc((100vw - var(--card-width)) / 2);
}
.rightCard{
    margin-left:var(--card-margin);
    left:calc(100vw - ((100vw - var(--card-width)) / 2));
}

/*
The vertical plane and its children.
*/
.verticalContainer {
    z-index:1;
    width:100%;
    height:100%;
    display:flex;
    position:absolute;
    /* horizontally center the event slider */
    justify-content:center;
}
.venueSlider {
    width:var(--card-width);
    height:100%;
    display:flex;
    flex-direction:column;
    position:relative;
}
.topCard{
    margin-bottom:var(--card-margin);
    top:calc(((100vh - var(--card-height)) / 2) - var(--card-height) - var(--card-margin));
}
.verticalMiddleCard{
    top:calc((100vh - var(--card-height)) / 2);
    /* visibility:hidden; */
}
.bottomCard{
    margin-top:var(--card-margin);
    top:calc(((100vh - var(--card-height)) / 2) + var(--card-height));
}